#form {
  width: 100% !important;
  @media (max-width: 867px) {
    margin-top: 8vh;
  }
}
#form-inputs {
  width: 100vw;
}

@font-face {
  font-family: MyridProRegular;
  src: url(../../../public/Assets/Fonts/MyriadPro/MyriadProRegular/MyriadProRegular.ttf);
}
@font-face {
  font-family: MyridProBold;
  src: url(../../../public/Assets/Fonts/MyriadPro/MyriadProBold/MyriadProBold.ttf);
}
@font-face {
  font-family: MyridProBlack;
  src: url(../../../public/Assets/Fonts/MyriadPro/MyriadProBlack/MyriadProBlack.otf);
}
#form-inputs-background-container {
  @media (min-width: 770px) {
    background-image: url("../../../public/Assets/Images/form/hero/herobg.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    mix-blend-mode: hard-light;
    background-position: center;
    width: 100%;
    height: 100%;
  }
}

h1 {
  font-family: MyridProBold !important;
  // font-size: clamp(32px, 5vw, 60px) !important;
  // font-weight: 700 !important;
  line-height: 120% !important;
  position: relative;
}
.form-numbers-h1-style {
  width: 272px;
  height: 50px;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="272" height="50" viewBox="0 0 272 50" fill="none"%3E%3Cpath d="M5.84946 5.5L136 0L266.151 5.5L272 26.5L266.151 47.5L136 50L5.84946 47.5L0 26.5L5.84946 5.5Z" fill="%23FBF55A"%3E%3C/path%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50px 35px;
  z-index: -1;
}
.form-highlights-h1-style {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="272" height="50" viewBox="0 0 272 50" fill="none"%3E%3Cpath d="M5.84946 5.5L136 0L266.151 5.5L272 26.5L266.151 47.5L136 50L5.84946 47.5L0 26.5L5.84946 5.5Z" fill="%23FBF55A"%3E%3C/path%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  z-index: -1;
}
.form-affiliate-h1-style {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="272" height="50" viewBox="0 0 272 50" fill="none"%3E%3Cpath d="M5.84946 5.5L136 0L266.151 5.5L272 26.5L266.151 47.5L136 50L5.84946 47.5L0 26.5L5.84946 5.5Z" fill="%23FBF55A"%3E%3C/path%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  z-index: -1;
}
.form-flexible-h1-style {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="272" height="50" viewBox="0 0 272 50" fill="none"%3E%3Cpath d="M5.84946 5.5L136 0L266.151 5.5L272 26.5L266.151 47.5L136 50L5.84946 47.5L0 26.5L5.84946 5.5Z" fill="%23FBF55A"%3E%3C/path%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90px center;
  z-index: -1;
}
.form-addmissiongurantee-h1-style {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="272" height="50" viewBox="0 0 272 50" fill="none"%3E%3Cpath d="M5.84946 5.5L136 0L266.151 5.5L272 26.5L266.151 47.5L136 50L5.84946 47.5L0 26.5L5.84946 5.5Z" fill="%23FBF55A"%3E%3C/path%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  z-index: -1;
}
.form-awards-h1-style {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="272" height="50" viewBox="0 0 272 50" fill="none"%3E%3Cpath d="M5.84946 5.5L136 0L266.151 5.5L272 26.5L266.151 47.5L136 50L5.84946 47.5L0 26.5L5.84946 5.5Z" fill="%23FBF55A"%3E%3C/path%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  z-index: -1;
}
.form-pathwaytosuccess-h1-style {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="272" height="50" viewBox="0 0 272 50" fill="none"%3E%3Cpath d="M5.84946 5.5L136 0L266.151 5.5L272 26.5L266.151 47.5L136 50L5.84946 47.5L0 26.5L5.84946 5.5Z" fill="%23FBF55A"%3E%3C/path%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  z-index: -1;
}
.form-testimonials-h1-style {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="272" height="50" viewBox="0 0 272 50" fill="none"%3E%3Cpath d="M5.84946 5.5L136 0L266.151 5.5L272 26.5L266.151 47.5L136 50L5.84946 47.5L0 26.5L5.84946 5.5Z" fill="%23FBF55A"%3E%3C/path%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  z-index: -1;
}

@media (min-width: 867px) {
  #form-affiliate h1::before {
    content: url("../../../public/Assets/Images/form/icon_8.png");
    position: absolute;
    top: -100%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
}

.form-hereisallyouneed-h1-style {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="272" height="50" viewBox="0 0 272 50" fill="none"%3E%3Cpath d="M5.84946 5.5L136 0L266.151 5.5L272 26.5L266.151 47.5L136 50L5.84946 47.5L0 26.5L5.84946 5.5Z" fill="%23FBF55A"%3E%3C/path%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  z-index: -1;
}
@media (min-width: 867px) {
  #form-hereisallyouneed h1::before {
    content: url("../../../public/Assets/Images/form/feature_12.png");
    position: absolute;
    top: -25%;
    left: 100%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
}

#form-inputs input,
#form-inputs form div {
  background-color: white !important;
}
.form-hereisallyouneed-card1 {
  border-radius: 12px;
  border-top: 1px solid var(--Purple, #7f46ff);
  border-right: 1px solid var(--Purple, #7f46ff);
  border-bottom: 8px solid var(--Purple, #7f46ff);
  border-left: 1px solid var(--Purple, #7f46ff);
}
.form-hereisallyouneed-card2 {
  border-radius: 12px;
  border-top: 1px solid var(--Blue, #1682fb);
  border-right: 1px solid var(--Blue, #1682fb);
  border-bottom: 8px solid var(--Blue, #1682fb);
  border-left: 1px solid var(--Blue, #1682fb);
}
.form-hereisallyouneed-card3 {
  border-radius: 12px;
  border-top: 1px solid var(--Pink, #f72378);
  border-right: 1px solid var(--Pink, #f72378);
  border-bottom: 8px solid var(--Pink, #f72378);
  border-left: 1px solid var(--Pink, #f72378);
}
.form-hereisallyouneed-card4 {
  border-radius: 12px;
  border-top: 1px solid var(--Orange, #ff833f);
  border-right: 1px solid var(--Orange, #ff833f);
  border-bottom: 8px solid var(--Orange, #ff833f);
  border-left: 1px solid var(--Orange, #ff833f);
}
#form-flexible h1 {
  padding: 0 20vw;
  @media (max-width: 867px) {
    padding: 0 5vw;
  }
}
#form-addmissiongurantee h1 {
  padding: 0 20vw;
  @media (max-width: 867px) {
    padding: 0 5vw;
  }
}
#form-awards h1 {
  padding: 0 20vw;
  @media (max-width: 867px) {
    padding: 0 10vw;
  }
}
#form-pathwaytosuccess h1 {
  padding: 0 20vw;
  @media (max-width: 867px) {
    padding: 0 10vw;
  }
}
#form-testimonials h1 {
  padding: 0 20vw;
  @media (max-width: 867px) {
    padding: 0 10vw;
  }
}
.MuiMobileStepper-dots {
  display: none !important;
}
.form-testimonials-div {
  background: linear-gradient(90deg, #fff 75%, rgba(244, 244, 244, 0) 100%);
}
#form-flexible {
  @media (min-width: 867px) {
    background-image: url("../../../public/Assets/Images/form/purplecloud.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.form-affiliate-cloud-div {
  @media (min-width: 867px) {
    background-image: url("../../../public/Assets/Images/form/cloud.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 10vw;
  }
}
.form-testimonials-smallcloud-div{
  @media (min-width: 867px) {
    background-image: url("../../../public/Assets/Images/form/smallcloud.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 10vw;
  }
}