@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  width: 100% !important;
  overflow-x: hidden !important;
  font-family: MyridProRegular;
}

.custom-left-arrow {
  top: 75%;
}
.custom-right-arrow {
  top: 75%;
}
@media (max-width: 867px) {
  .custom-left-arrow {
    top: 85%;
    left: 0%;
    z-index: 999;
  }
  .custom-right-arrow {
    top: 85%;
    left: 0%;
    z-index: 999;
  }
}
#success {
  padding: 8vh 20vw 0 20vw;
}
@media (max-width: 867px) {
  #success {
    padding: 0 10vw;
  }
}
#failure {
  padding: 8vh 20vw 0 20vw;
}
@media (max-width: 867px) {
  #failure {
    padding: 0 10vw;
  }
}